#

stages:
  - stage_build
  - stage_test
  - stage_deploy

variables:
  OWNER_NAVE : dark
  CICO_VERSION : V1.0
  LOG_FILE_NAME: log.txt

build_job:
    stage: stage_build
    script:
        - echo "---Build Started---"
        - echo "Building ..." >> $LOG_FILE_NAME
        - echo "---Build Completed---"
    artifacts:
      paths:
        - $LOG_FILE_NAME

test_job1:
    stage: stage_test
    script:
        - echo "---Test1 Started---"
        - echo "Testing1 ..." >> $LOG_FILE_NAME
        - echo "---Test1 Completed---"
    artifacts:
      paths:
        - $LOG_FILE_NAME

test_job2:
    stage: stage_test
    script:
        - echo "---Test2 Started---"
        - echo "Testing2 ..." >> $LOG_FILE_NAME
        - echo "---Test2 Completed---"
    artifacts:
      paths:
        - $LOG_FILE_NAME
      
test_job3:
    stage:
      stage: stage_test
      needs: [test_job1,test_job2]
      #  - test_job1
      #  - test_job2
      script:
          - echo "---Test3 Started---"
          - echo "Testing3 FINAL ..." >> $LOG_FILE_NAME
          - echo "---Test3 Completed---"      

deploy_to_dev_job:
    stage: stage_deploy
    script:
        - echo "---Deploy to DEV Started---"
        - echo "Deploy to DEV  ..." >> $LOG_FILE_NAME
        - echo "---Deploy to DEV  Completed---"
        - cat $LOG_FILE_NAME